/**
 *
 * zm : 自定义私有命名 （防冲突）如 : zm ;
 * zm + class : 自定义私有命名 （防冲突）如 : zm-class ;
 * Creation time : 2022-3-8 16:14:30 ;
 * Modification time : ====== ;
 * Author : zm ;
 * Modified By: zm ;
 * Remarks: 
 *
 **/

.zm-form .zm-input-block .layui-form-radioed *,
.zm-form .zm-input-block .layui-unselect:hover * {
  color: #690000;
}

.zm-form .zm-input-block .layui-form-select .layui-this,
.zm-form .zm-input-block .layui-form-select:hover .layui-this {
  color: #FFFFFF;
  background-color: #690000;
}
